@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');
/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

*/

/* reseteo */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* desplazamiento onepage*/
html{
    scroll-behavior: smooth;
}

.main{
    width: auto;
    height: auto;
}


.jumbotronHome {
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 0 !important;
}

#videoArea{
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.jumbotron-1{
    display: block;
    width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
}
.video{
    width: 100%;
    height: 100%;
}

.introLogo{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logoUp{
    width: 40%;
    height: 100%;
}
.logoUp a img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.introText{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.textoPortada{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
    text-align: center;
}

.introBoton{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introBoton .btn{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    background-color: #2D4D9C;
    color: #ffffff;
    box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    opacity: 0.9;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.introBoton .btn:hover{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px hsl(228, 100%, 50%, 30%);
    color: #03f;
    font-weight: bolder;
}

/* Hasta 1199px */  
@media only screen and (min-width: 768px) and (max-width: 1199px){  
    .introLogo{
        position: relative;
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .logoUp{
        width: 60%;
        height: 80%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 25px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        margin-left: 100px;
        margin-right: 100px;
    }
    .introBoton{
        height: 120px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .introBoton .btn{
        width: 20%;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
} 

/* Hasta 767px */  
@media only screen and (max-width: 767px){  
    .introLogo{
        position: relative;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .logoUp{
        width: 60%;
        height: 90%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 20px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        margin-left: 40px;
        margin-right: 40px;
    }
    .introBoton{
        height: 100px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .introBoton .btn{
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
}  

/* Hasta 480px */  
@media only screen and (max-width: 480px){  
    .introLogo{
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .logoUp{
        width: 80%;
        height: 90%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 20px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        text-align: center;
    }
    .introBoton{
        height: 100px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .introBoton .btn{
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
}

.navbar{
    background-color: #ffffff;
    z-index: 100;
    width: 100%;
}
.navbar-brand{
    height: auto;
    width: 40%;
    margin-left: 0px;
}
.navbar-brand img{
    width: 13%;
    height: 13%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.navbar-brand img:hover{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.navbar-toggler{
    background-color: #ffffff;
    border: transparent;
}
.custom-toggler.navbar-toggler {
    border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 51, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
    text-align: center;
    width: 100%;
}
.navbar-nav{
    margin-left: 0px;
    margin-right: 0px;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}
.nav-link{
    color: #03f !important;
    width: auto;
    height: 100%;
    position: relative;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.nav-link::before{
    content: "";
    position: absolute;
    background-color: #03f;
    width: 0%;
    height: 2px;
    transition: 0.7s ease-in-out;
    left: 0;
    bottom: -2px;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}
.nav-link:hover::before{
    width: 100%
}

.nav-link-ubicacion{
    color: #03f !important;
    text-decoration: none;
}
.nav-link-ubicacion i{
    transition: 900ms;
    -webkit-transition: 900ms;
    -moz-transition: 900ms;
    -ms-transition: 900ms;
    -o-transition: 900ms;
}
.nav-link-ubicacion i:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.navbar-collapse .form-inline{
    justify-content: center;
    align-items: center;
}
.navbar-collapse .form-inline a{
    background-color: transparent;
    text-decoration: none;
    color: #03f;
    font-weight: bolder;
    padding: 10px;
    border: 2px solid #03f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}
.navbar-collapse .form-inline a:hover{
    background-color: #03f;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    padding: 10px;
    border: 2px solid #03f;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

#home{
    height: 100vh;
    width: 100%;
    background-color: #03f;
}

#nosotros{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

#servicios{
    height: 100vh;
    width: 100%;
    background-color: #03f;
}

#enfoque{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

#equipo{
    height: 100vh;
    width: 100%;
    background-color: #03f;
}  

#ubicacion{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}  

#footer{
    height: 50vh;
    width: 100%;
    background-color: #03f;
}