@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');
/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

*/

/* reseteo */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* desplazamiento onepage*/
html{
    scroll-behavior: smooth;
}

.main{
    width: auto;
    height: auto;
}


.jumbotronHome {
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 0 !important;
}

#videoArea{
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.jumbotron-1{
    display: block;
    width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
}
.video{
    width: 100%;
    height: 100%;
}

.introLogo{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logoUp{
    width: 37%;
    height: 100%;
}
.logoUp a img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.introText{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.textoPortada{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
    text-align: center;
}

.introBoton{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introBoton .btn{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    background-color: #2D4D9C;
    color: #ffffff;
    box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    opacity: 0.9;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.introBoton .btn:hover{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px hsl(228, 100%, 50%, 30%);
    color: #03f;
    font-weight: bolder;
}

/* Hasta 1199px */  
@media only screen and (min-width: 768px) and (max-width: 1199px){  
    .introLogo{
        position: relative;
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .logoUp{
        width: 60%;
        height: 80%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 25px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        margin-left: 100px;
        margin-right: 100px;
    }
    .introBoton{
        height: 120px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .introBoton .btn{
        width: 20%;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
} 

/* Hasta 767px */  
@media only screen and (max-width: 767px){  
    .introLogo{
        position: relative;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .logoUp{
        width: 60%;
        height: 90%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 20px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        margin-left: 40px;
        margin-right: 40px;
    }
    .introBoton{
        height: 100px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .introBoton .btn{
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
}  

/* Hasta 480px */  
@media only screen and (max-width: 480px){  
    .introLogo{
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .logoUp{
        width: 80%;
        height: 90%;
    }
    .introText{
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .textoPortada{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #ffffff;
        font-size: 20px;
        text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
        text-align: center;
    }
    .introBoton{
        height: 100px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .introBoton .btn{
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        background-color: #2D4D9C;
        color: #ffffff;
        box-shadow: 0px 0px 10px hsl(0, 0%, 100%, 30%);
    }
}

.navbar{
    background-color: #ffffff;
    z-index: 100;
    width: 100%;
}
.navbar-brand{
    height: auto;
    width: 10%;
    margin-left: 0px;
}
.navbar-brand img{
    width: 50%;
    height: 13%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.navbar-brand img:hover{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.navbar-toggler{
    background-color: #ffffff;
    border: transparent;
}
.custom-toggler.navbar-toggler {
    border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 51, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
    text-align: center;
    width: 100%;
}
.navbar-nav{
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}
.nav-link{
    color: #03f !important;
    width: auto;
    height: 100%;
    position: relative;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.nav-link::before{
    content: "";
    position: absolute;
    background-color: #03f;
    width: 0%;
    height: 2px;
    transition: 0.7s ease-in-out;
    left: 0;
    bottom: -2px;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}
.nav-link:hover::before{
    width: 100%
}

.nav-link-ubicacion{
    color: #03f !important;
    text-decoration: none;
}
.nav-link-ubicacion i{
    transition: 900ms;
    -webkit-transition: 900ms;
    -moz-transition: 900ms;
    -ms-transition: 900ms;
    -o-transition: 900ms;
}
.nav-link-ubicacion i:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.navbar .form-inline{
    justify-content: center;
}
.navbar .form-inline a{
    background-color: transparent;
    text-decoration: none;
    color: #03f;
    font-weight: bolder;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #03f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}
.navbar .form-inline a:hover{
    background-color: #03f;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    padding: 10px;
    border: 2px solid #03f;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.division1{
    width: 100%;
    height: 100px;
    background: url(../assets/images/division1.svg);
}

.hr{
    border: 0;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: inset 0 12px 12px -12px #03f;
}

#home{
    height: auto;
    width: 100%;
    background: url(../assets/images/fondo1.png) center no-repeat;
    background-size: cover;
}
#home h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #03f;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}
#home p{
    font-family: 'Open Sans', sans-serif;
    color: #5c3fdd;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
#home p span{
    font-family: 'Montserrat', sans-serif;
    color: #5c3fdd;
    font-weight: bolder;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
#home .firstDimension{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}
#home .firstDimension h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
    font-size: 30px;
    color: #8f76ff;
}
#home .firstDimension h4 span{
    background-color: #5c3fdd;
    color: #ffffff;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
#home .firstDimension .p1{
    font-family: 'Open Sans', sans-serif;
    color: #8f76ff;
    font-style: oblique;
}
#home .firstDimension img{
    width: 100%;
    height: 50%;
}

#home .secondDimension{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home .secondDimension h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
    font-size: 30px;
    color: #8f76ff;
}
#home .secondDimension h4 span{
    background-color: #5c3fdd;
    color: #ffffff;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
#home .secondDimension .p1{
    font-family: 'Open Sans', sans-serif;
    color: #8f76ff;
    font-style: oblique;
}
#home .secondDimension img{
    width: 100%;
    height: 50%;
}

.division2{
    width: 100%;
    height: 150px;
    background: url(../assets/images/division2.svg);
}


#nosotros{
    height: auto;
    width: 100%;
    background: url(../assets/images/fondo2.png) center no-repeat;
    background-size: cover;
}

#nosotros h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}

#nosotros .hr2{
    border: 0;
    height: 8px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: inset 0 12px 12px -12px #ffffff;
}

#nosotros .nosotrosDiv{
    width: 100%;
    height: auto;
}

#nosotros .nosotrosImg{
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#nosotros .nosotrosImg img{
    width: 90%;
    height: 90%;
}

#nosotros .nosotrosText{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: end;
}
#nosotros .nosotrosText h4{
    font-family: 'Open Sans', sans-serif;
    color: #03f;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 3px 3px 1px #cdb9ff;
}

#nosotros .nosotrosText h4 i{
    margin-left: 30px;
    font-size: 40px;
    animation: propuestaValor 2s linear infinite;
    -webkit-animation: propuestaValor 2s linear infinite;
}
@keyframes propuestaValor {
    0%{
        color: #03f;
    }
    25%{
        color: rgb(255, 139, 139);
    }
    50%{
        transform: scale(1.2);
        color: rgb(255, 139, 139);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
    75%{
        color: rgb(255, 139, 139);
    }
    100%{
        color: #03f;
    }
}

#nosotros .nosotrosText .p1{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nosotros .nosotrosText .p1 span{
    font-weight: bolder;
    font-size: 23px;
}

.division3{
    width: 100%;
    height: 150px;
    background: url(../assets/images/division3.svg);
}

#servicios{
    height: auto;
    width: 100%;
    background: url(../assets/images/fondo3.png) center no-repeat;
    background-size: cover;
    position: relative;
}
#servicios h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #03f;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}
#servicios .hr3{
    border: 0;
    height: 5px;
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: inset 0 12px 12px -12px #03f;
}
#servicios p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #5c3fdd;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
}
#servicios p span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

#servicios .serviciosDiv{
    height: auto;
    width: 100%;
}
#servicios .serviciosDiv .gerencia{
    height: 100%;
    width: 100%;
    margin: 20px;
    align-items: center;
}
#servicios .serviciosDiv .gerencia .iconGerencia{
    width: auto;
    height: 350px;
    padding: 20px;
}
#servicios .serviciosDiv .gerencia .iconGerencia img{
    height: 100%;
    width: 100%;
}

#servicios .serviciosDiv .gerencia .textGerencia{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 1px #8f76ff;
}
#servicios .serviciosDiv .gerencia .textGerencia .parte1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#servicios .serviciosDiv .gerencia .textGerencia .parte1 span{
    font-family: 'Montserrat', sans-serif;
    color: #8f76ff;
    font-size: 30px;
    font-weight: bolder;
}
#servicios .serviciosDiv .gerencia .textGerencia .parte1 span:hover{
    color: #03f;
}

#servicios .serviciosDiv .gerencia .textGerencia .parte1 .pulse-button{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border: none;
    border-radius: 50%;
    background: #8f76ff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(143, 118, 255, 0.5);
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
}
#servicios .serviciosDiv .gerencia .textGerencia .parte1 .pulse-button:hover {
    background: #03f;
    animation: none;
}

@keyframes pulse{
    0% {
        background: #8f76ff;
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
    }
    80% {
        background: rgb(108 99 255);
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: 0 0 0 12px rgb(143, 118, 255, 0);
    }
    100% {
        background: #8f76ff;
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        box-shadow: 0 0 0 0 rgb(143, 118, 255, 0);
    }
}

#servicios .serviciosDiv .gerencia .textGerencia .parte2{
    font-family: 'Open Sans', sans-serif;
    color: #5c3fdd;
    font-size: 20px;
    padding: 0;
    text-shadow: none;
    text-align: start;
    font-style: oblique;
}

#servicios .serviciosDiv .gestion{
    height: 100%;
    width: 100%;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
#servicios .serviciosDiv .gestion .textGestion{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: -5px -5px 1px #8f76ff;
}
#servicios .serviciosDiv .gestion .textGestion .parte1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#servicios .serviciosDiv .gestion .textGestion .parte1 span{
    font-family: 'Montserrat', sans-serif;
    color: #8f76ff;
    font-size: 30px;
    font-weight: bolder;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
#servicios .serviciosDiv .gestion .textGestion .parte1 span:hover{
    color: #03f;
}
#servicios .serviciosDiv .gestion .textGestion .parte1 .pulse-button{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    border: none;
    border-radius: 50%;
    background: #8f76ff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(143, 118, 255, 0.5);
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
}
#servicios .serviciosDiv .gestion .textGestion .parte1 .pulse-button:hover {
    background: #03f;
    animation: none;
}

#servicios .serviciosDiv .gestion .textGestion .parte2{
    font-family: 'Open Sans', sans-serif;
    color: #5c3fdd;
    font-size: 20px;
    padding: 0;
    text-shadow: none;
    text-align: end;
    font-style: oblique;
}
#servicios .serviciosDiv .gestion .iconGestion{
    width: auto;
    height: 350px;
    padding: 20px;
}
#servicios .serviciosDiv .gestion .iconGestion img{
    height: 100%;
    width: 100%;
}

#servicios .serviciosDiv .mindset{
    height: 100%;
    width: 100%;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
#servicios .serviciosDiv .mindset .iconMindset{
    width: auto;
    height: 350px;
    padding: 20px;
}
#servicios .serviciosDiv .mindset .iconMindset img{
    height: 100%;
    width: 100%;
}

#servicios .serviciosDiv .mindset .textMindset{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 1px #8f76ff;
}
#servicios .serviciosDiv .mindset .textMindset .parte1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#servicios .serviciosDiv .mindset .textMindset .parte1 span{
    font-family: 'Montserrat', sans-serif;
    color: #8f76ff;
    font-size: 30px;
    font-weight: bolder;
}
#servicios .serviciosDiv .mindset .textMindset .parte1 span:hover{
    color: #03f;
}
#servicios .serviciosDiv .mindset .textMindset .parte1 .pulse-button{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border: none;
    border-radius: 50%;
    background: #8f76ff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(143, 118, 255, 0.5);
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
}
#servicios .serviciosDiv .mindset .textMindset .parte1 .pulse-button:hover {
    background: #03f;
    animation: none;
}

#servicios .serviciosDiv .mindset .textMindset .parte2{
    font-family: 'Open Sans', sans-serif;
    color: #5c3fdd;
    font-size: 20px;
    padding: 0;
    text-shadow: none;
    text-align: start;
    font-style: oblique;
}

#servicios .serviciosDiv .empresa{
    height: 100%;
    width: 100%;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
#servicios .serviciosDiv .empresa .textEmpresa{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: -5px -5px 1px #8f76ff;
}
#servicios .serviciosDiv .empresa .textEmpresa .parte1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#servicios .serviciosDiv .empresa .textEmpresa .parte1 span{
    font-family: 'Montserrat', sans-serif;
    color: #8f76ff;
    font-size: 30px;
    font-weight: bolder;
}
#servicios .serviciosDiv .empresa .textEmpresa .parte1 span:hover{
    color: #03f;
}
#servicios .serviciosDiv .empresa .textEmpresa .parte1 .pulse-button{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    border: none;
    border-radius: 50%;
    background: #8f76ff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(143, 118, 255, 0.5);
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
}
#servicios .serviciosDiv .empresa .textEmpresa .parte1 .pulse-button:hover {
    background: #03f;
    animation: none;
}

#servicios .serviciosDiv .empresa .textEmpresa .parte2{
    font-family: 'Open Sans', sans-serif;
    color: #5c3fdd;
    font-size: 20px;
    padding: 0;
    text-shadow: none;
    text-align: end;
    font-style: oblique;
}
#servicios .serviciosDiv .empresan .iconEmpresa{
    width: auto;
    height: 350px;
    padding: 20px;
}
#servicios .serviciosDiv .empresa .iconEmpresa img{
    height: 100%;
    width: 100%;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #8f76ff;
    opacity: .3;
    position: absolute;
    bottom: -100;
    animation: burbujas 5s linear infinite ;
    -webkit-animation: burbujas 5s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    background: #8f76ff;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    background: #cdb9ff;
    left: 15%;
    animation-duration: 4s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 5s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    background: #cdb9ff;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    background: #cdb9ff;
    left: 50%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    background: #8f76ff;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 6s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0.05;
    }
    30%{
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
}
    50%{
        opacity: .3;
    }
    100%{
        bottom: 250vh;
        opacity: 0.05;
    }
}
/* burbujas */

.division4{
    width: 100%;
    height: 150px;
    background: url(../assets/images/division4.svg);
}

#enfoque{
    height: auto;
    width: 100%;
    background: url(../assets/images/fondo4.png) center no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
}
#enfoque h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#enfoque .enfoqueDiv{
    flex-wrap: nowrap;
    margin-top: 60px;
    padding-bottom: 30px;
}

#enfoque .uno{
    height: auto;
}
#enfoque .uno .contenedorUno{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#enfoque .uno .contenedorUno img{
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    border-radius: 20%;
    background-color: #ffffff;
    padding: 10px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
#enfoque .uno .contenedorUno img:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
#enfoque .uno .contenedorUno span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

#enfoque .dos{
    height: auto;
}
#enfoque .dos .contenedorDos{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#enfoque .dos .contenedorDos img{
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    border-radius: 20%;
    background-color: #ffffff;
    padding: 12px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
#enfoque .dos .contenedorDos img:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
#enfoque .dos .contenedorDos span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

#enfoque .tres{
    height: auto;
}
#enfoque .tres .contenedorTres{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#enfoque .tres .contenedorTres img{
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    border-radius: 20%;
    background-color: #ffffff;
    padding: 15px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
#enfoque .tres .contenedorTres img:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
#enfoque .tres .contenedorTres span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}

#enfoque .cuatro{
    height: 200px;
}
#enfoque .cuatro .contenedorCuatro{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#enfoque .cuatro .contenedorCuatro img{
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    border-radius: 20%;
    background-color: #ffffff;
    padding: 12px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
#enfoque .cuatro .contenedorCuatro img:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
#enfoque .cuatro .contenedorCuatro span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

.division5{
    width: 100%;
    height: 100px;
    background: url(../assets/images/division5.svg);
}

#equipo{
    height: 100vh;
    width: 100%;
    background-color: green;
}  

#ubicacion{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}  

#footer{
    height: 50vh;
    width: 100%;
    background-color: #03f;
}